/* ---------- CWK Individual Layout CSS Ver. 202101 ---------- */

/* 공통 선언 시작 */

body {
    background: #fff;
}

#wrap { /* 전체 랩핑 */
    position: relative;
    width: 100%;
    min-width: 60rem;
}

.int_wrap { /* 내부 박스 사이징 */
    margin: 0 auto;
    padding: 0 .5rem;
    width: 60rem; /* 1200px */
    box-sizing: border-box;
}

h2.secTitle {
    position: relative;
    margin: 0 auto .5rem auto;
    width: fit-content;
    font-size: 2.5rem;
    color: #2d2d2d;
    line-height: 2.5rem;
    text-align: center;
    z-index: 1;
}

h2.secTitle::before {
    display: block;
    position: absolute;
    bottom: -.15rem;
    left: calc(0% - .5rem);
    width: calc(100% + 1rem);
    height: .5rem;
    border-radius: .1rem;
    background: #81abff;
    z-index: -1;
    content: '';
}

p.secSubtitle {
    margin: 0 auto 2.5rem auto;
    width: fit-content;
    font-size: 1rem;
    color: #2d2d2d;
    line-height: 1rem;
    text-align: center;
}

/* 공통 선언 종료 */
/* 우선/예외 선언 시작 */

aside#copyright_info {
    position: relative;
    background: none;
}

aside#mnuQuick {
    display: flex;
}

/* 우선/예외 선언 종료 */

/* ---------- (1) 서브메뉴 시작 ---------- */

section#subContents {

}

div.sub_titleimage {
    width: 100%;
    height: 20rem;
    background: url('../images/company01.jpeg') no-repeat center;
    background-size: cover;
}

p.sub_titletext {
    display: flex;
    place-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(.25rem) brightness(.9);
}

p.sub_titletext > span {
    display: block;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0 .5rem rgba(0, 0, 0, .4);
}

ul.sub_bread {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 3rem;
    width: 100%;
    border-bottom: .05rem solid #ccc;
    font-size: .9rem;
    color: #808080;
    line-height: 1rem;
}

ul.sub_bread > li {
    position: relative;
    margin: 0 1.25rem;
    padding: .75rem 0;
    height: 1rem;
}

ul.sub_bread > li.sub_checked::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(0% - .25rem);
    width: calc(100% + .5rem);
    height: .25rem;
    background: #637dff;
    content: '';
}