/* ---------- CWK Individual Layout CSS Ver. 20201230 ---------- */

/* 공통 선언 시작 */

body {
    background: #e9f4ff;
}

#wrap { /* 전체 랩핑 */
    position: relative;
    width: 100%;
    min-width: 60rem;
}

.int_wrap { /* 내부 박스 사이징 */
    margin: 0 auto;
    padding: 0 .5rem;
    width: 60rem; /* 1200px */
    box-sizing: border-box;
}

h2.secTitle {
    position: relative;
    margin: 0 auto .5rem auto;
    width: fit-content;
    font-size: 2.5rem;
    color: #2d2d2d;
    line-height: 2.5rem;
    text-align: center;
    z-index: 1;
}

h2.secTitle::before {
    display: block;
    position: absolute;
    bottom: -.15rem;
    left: calc(0% - .5rem);
    width: calc(100% + 1rem);
    height: .5rem;
    border-radius: .1rem;
    background: #81abff;
    z-index: -1;
    content: '';
}

section#secShortcut > h2.secTitle::before {
    background: #f90;
}

p.secSubtitle {
    margin: 0 auto 2.5rem auto;
    width: fit-content;
    font-size: 1rem;
    color: #2d2d2d;
    line-height: 1rem;
    text-align: center;
}

/* 공통 선언 종료 */
/* 우선/예외 선언 시작 */



/* 우선/예외 선언 종료 */

/* ---------- (1) 메인 슬라이드 시작 ---------- */

section#slideMain {
    height: 41rem;
    background: #000;
    word-wrap: break-word;
}

div.slide_container {
    height: 100%;
    background: #000;
}

.slick-slide {
    position: relative;
    padding-top: 5.25rem;
    height: 41rem;
    box-sizing: border-box;
    color: #fff;
}

article.slide_itm01 {
    background: url('../images/main_banner01.jpg') no-repeat center;
    background-size: cover;
}

article.slide_itm02 {
    background: url('../images/main_banner02.jpg') no-repeat center;
    background-size: cover;
}

article.slide_itm03 {
    background: url('../images/main_banner03.jpg') no-repeat center;
    background-size: cover;
}

article.slide_itm04 {
    background: url('../images/main_banner04.jpg') no-repeat center;
    background-size: cover;
}

article.slide_itm05 {
    background: url('../images/main_banner05.jpg') no-repeat center;
    background-size: cover;
}

button.slide_more {
    display: block;
    margin: 0 auto;
    padding: .75rem 1.5rem;
    width: 8rem;
    height: 1rem;
    border: .1rem solid #fff;
    box-sizing: content-box;
    color: #fff;
    transition: .3s;
}

.slick-dots {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    bottom: 5rem;
    left: calc(50% - 24rem);
}

.slick-dots li {
    margin: auto .4rem;
    width: .8rem;
    height: .8rem;
    border: .35rem solid #fff;
    border-radius: .4rem;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    transition: .3s;
    font-size: 0;
    cursor: pointer;
}

.slick-dots li.slick-active {
    margin: auto .25rem;
    width: 3rem;
    border: .25rem solid cyan;
    border-radius: .4rem;
    background: rgba(0, 0, 0, .2);
}

/* ---------- (2) 뉴스 시작 ---------- */

section#secNews {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    margin: -4rem auto;
    padding: 1rem;
    width: 50rem;
    height: 8rem;
    box-sizing: border-box;
    background: #2d2d2d;
    box-shadow: 0 .5rem 2.5rem rgba(0, 0, 0, .4);
    color: #e3e3e3;
}

h2.newsTitle {
    margin-top: .5rem;
    width: 12.5rem;
    font-size: 2.5rem;
    color: #e6e6e6;
    text-align: center;
}

p.newsSubtitle {
    width: 12.5rem;
    font-size: .7rem;
    color: #808080;
    text-align: right;
}

section#secNews > hr {
    margin: 0 1.5rem;
    width: .05rem;
    height: 100%;
    background: #707070;
}

section#secNews > ul {
    margin: auto 0;
    width: 15.5rem;
    height: 4.5rem;
    overflow: hidden;
}

section#secNews > ul > li {
    position: relative;
    margin-bottom: .75rem;
    padding-left: 1rem;
    height: 1rem;
    font-size: .7rem;
    line-height: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

section#secNews > ul > li::before {
    display: block;
    position: absolute;
    top: calc(50% - .2rem);
    left: 0;
    width: .4rem;
    height: .4rem;
    border-radius: .1rem;
    content: '';
}

section#secNews > ul.listNotice {
    margin: auto 1rem auto auto;
}

section#secNews > ul.listNotice > li::before {
    background: #9fc256;
}

section#secNews > ul.listEvent > li::before {
    background: #c78484;
}

/* ---------- (3) 자주 찾는 메뉴 시작 ---------- */

section#secShortcut {
    padding: 9rem 0 5rem 0;
    background: linear-gradient(90deg, rgba(255, 187, 68, 1) 0%, rgba(255, 221, 68, 1) 20%, rgba(255, 221, 68, 1) 80%, rgba(255, 187, 68, 1) 100%);
}

section#secShortcut > div.int_wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

section#secShortcut article {
    margin: 0 .5rem;
    width: 11.75rem;
    height: 14rem;
    background: #fff;
    box-shadow: 0 .5rem 2.5rem rgba(255, 153, 0, .4);
    text-align: center;
}

section#secShortcut article a {
    display: block;
    padding: 1.5rem 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

span.scIcon {
    display: block;
    margin: 0 auto;
    width: 6.25rem;
    height: 6.25rem;
}

section#secShortcut article:first-child span.scIcon {
    background: url('../images/icon_construct.svg') no-repeat center;
    background-size: cover;
}

section#secShortcut article:nth-child(2) span.scIcon {
    background: url('../images/icon_update.svg') no-repeat center;
    background-size: cover;
}

section#secShortcut article:nth-child(3) span.scIcon {
    background: url('../images/icon_download.svg') no-repeat center;
    background-size: cover;
}

section#secShortcut article:last-child span.scIcon {
    background: url('../images/icon_support.svg') no-repeat center;
    background-size: cover;
}

h3.scTitle {
    margin: 1rem 0 .75rem 0;
    color: #2d2d2d;
}

p.scSubtitle {
    font-size: .7rem;
    color: #808080;
    line-height: 1rem;
}

/* ---------- (4) 현재 진행중인 이벤트 시작 ---------- */

section#secEvent {
    padding: 5rem 0;
}

/* ---------- (5) 포토리뷰 시작 ---------- */

section#secReview {
    padding: 5rem 0;
}

/* ---------- (6) 스토어 베스트 시작 ---------- */

section#secBest {
    padding: 5rem 0;
    background: linear-gradient(0deg, rgba(129, 171, 255, 0) 15.9%, rgba(129, 171, 255, 1) 15.9%, rgba(129, 171, 255, 1) 75.5%, rgba(129, 171, 255, 0) 75.5%);
}

section#secBest > div.int_wrap {
    display: grid;
    grid-template:
        'a01 a02 a02 a03'
        'a04 a05 a06 a06'
        'a07 a07 a08 a09'
        'a07 a07 a10 a11';
    grid-template-rows: 14rem 14rem 14rem 14rem;
    grid-template-columns: 14rem 14rem 14rem 14rem;
    gap: 1rem;
}

section#secBest > div.int_wrap > div {
    position: relative;
    background: #ccc;
    box-shadow: 0 .5rem 2.5rem rgba(162, 187, 214, .4);
    overflow: hidden;
    z-index: 1;
}

section#secBest > div.int_wrap > div.grid_01 {
    grid-area: a01;
    background: url('../images/hotitem_01.png') no-repeat center;
    background-size: cover;
}

section#secBest > div.int_wrap > div.grid_02 {
    grid-area: a02;
    background: url('../images/hotitem_02.jpg') no-repeat center;
    background-size: cover;
}

section#secBest > div.int_wrap > div.grid_03 {
    grid-area: a03;
    background: url('../images/hotitem_03.png') no-repeat center;
    background-size: cover;
}

section#secBest > div.int_wrap > div.grid_04 {
    grid-area: a04;
    background: url('../images/hotitem_04.png') no-repeat center;
    background-size: cover;
}

section#secBest > div.int_wrap > div.grid_05 {
    grid-area: a05;
    background: url('../images/hotitem_05.png') no-repeat center;
    background-size: cover;
}

section#secBest > div.int_wrap > div.grid_06 {
    grid-area: a06;
    background: url('../images/hotitem_06.jpg') no-repeat center;
    background-size: cover;
}

section#secBest > div.int_wrap > div.grid_07 {
    grid-area: a07;
    background: url('../images/hotitem_07.jpg') no-repeat center;
    background-size: cover;
}

section#secBest > div.int_wrap > div.grid_08 {
    grid-area: a08;
    background: url('../images/hotitem_08.png') no-repeat center;
    background-size: cover;
}

section#secBest > div.int_wrap > div.grid_09 {
    grid-area: a09;
    background: url('../images/hotitem_09.png') no-repeat center;
    background-size: cover;
}

section#secBest > div.int_wrap > div.grid_10 {
    grid-area: a10;
    background: url('../images/hotitem_10.png') no-repeat center;
    background-size: cover;
}

section#secBest > div.int_wrap > div.grid_11 {
    grid-area: a11;
    background: url('../images/hotitem_11.png') no-repeat center;
    background-size: cover;
}

/* ---------- (7) 제품 분류별 보기 시작 ---------- */

section#secCategory {
    padding: 5rem 0;
}

/* ---------- (8) 사이트맵 시작 ---------- */

section#secSitemap {
    padding: 2.5rem 0;
    background: #fff;
    box-shadow: 0 0 2.5rem rgba(162, 187, 214, .4);
}